{% extends 'main.html' %} {% load static %} {% block content %}

<!-- Welcoming Section -->
<div class="homepage-section">
  <div class="text-container">
    <h1>Welcome to Facial Recognition System</h1>
    <p>
      Upload an image of yourself to get started. Our system will analyze the
      image and provide you with information about your facial features.
    </p>
    <button type="submit" class="homepage-btn">
        Get started
    </button>    
</div>

</div>

<!-- How it works -->
 
{% endblock %}
