{% extends 'main.html' %} {% load static %} {% block content %}

<div class="container">

    <div class="search-container">
      <input type="text" id="searchInput" placeholder="Search by Id..." />
      <i class="fas fa-search"></i>
    </div>
  
    <div class="table-container">
      <form method="POST" action="{% url 'save_protected_status' %}">
        {% csrf_token %}
        <table class="custom-table" id="userTable">
          <thead>
            <tr>
              <th>No</th>
              <th>Id</th>
              <th>Images</th>
              <th>Protected?</th>
            </tr>
          </thead>
          <tbody>
            {% for user in users %}
              <tr class="user-row" {% if forloop.counter > 10 %}style="display: none;"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td>{{ user.id }}</td>
                <td>
                  <img src="{{ user.image }}" alt="{{ user.id }}" style="max-width: 80px; max-height: 80px;"/>
                </td>
                <td>
                  <input type="checkbox" name="protected_users" value="{{ user.id }}" />
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <div class="button-container">
          <button id="showAllBtn" class="proceed-btn" type="button">Show All</button>
          <button id="showLessBtn" class="proceed-btn" type="button" style="display: none;">Show Less</button>
          <button type="submit" class="proceed-btn">Save Protected User</button>
        </div>
      </form>
    </div>
  </div>

<script src="{% static 'users/js/selection.js' %}"></script>

{% endblock %}