<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Signup Form</title>
    <link href="{% static 'users/css/style.css' %}" rel="stylesheet" />
</head>

<body class="login-page">
    <div class="main">
        <h1>Create account</h1>

        <form method="POST" action="{% url 'signup' %}" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-section">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p style="color: red">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="wrap">
                <button type="submit">
                    Register
                </button>
            </div>

        </form>

        <p>Already have an account?
            <a href="{% url 'login' %}" style="color:rgb(13, 13, 13);">
                Login 
            </a>
        </p>
    </div>
    
</body>

</html>