{% extends 'main.html' %}
{% load static %}
{% block content %}

<div class="upload-container">
    {% if user.is_authenticated and user.is_superuser %}
        <h2>Insert Image for Testing</h2> 
    {% else %}
        <h2>Face Recognition System</h2>
    {% endif %}

    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <img id="preview" src="{% static 'users/images/image.png' %}" alt="Preview" />
        <div class="upload-input">
            <input 
                type="file" 
                id="fileInput" 
                name="image" 
                accept="image/*" 
                onchange="previewImage(event)" 
                required 
                style="display: none;"
            />
            <button type="button" onclick="document.getElementById('fileInput').click()">
                Upload Image
            </button>
            <button type="button" onclick="uploadImage()">Proceed</button>
        </div>
    </form>
</div>


<script src="{% static 'users/js/uploadimage.js' %}"></script>
{% endblock %}